* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* カラー */
:root{
	--baseColor:#daf8f8;
	--mainColor:#595959;
	--subColor1:#56A7B0;
	--subColor2:#B05661;
	--subColor3:#FFFFFF;
}

/* フォントカラーの設定 */
.font-color-black{
	color: var(--mainColor);
}

.font-color-green{
	color: var(--subColor1);
}

.font-color-red{
	color: var(--subColor2);
}

.font-color-white{
	color: var(--subColor3);
}

/* フォントのサイズ設定 */
.txt-max{
	font-size: 106px;
}
.txt-xxxlarge {
	font-size: 90px !important;
}

.txt-xxlarge {
	font-size: 39px !important;
}

.txt-large {
	font-size: 32px !important;
}

.txt-xxmedium {
	font-size: 28px !important;
}

.txt-xmedium {
	font-size: 26px !important;
}

.txt-medium {
	font-size: 22px !important;
}

.txt-xsmall {
	font-size: 20px !important;
}

.txt-xxsmall {
	font-size: 18px !important;
}

/* テキストの配置 */
.txt-left {
	text-align: left;
}

.txt-center {
	text-align: center;
}

/* 画像サイズ */
.img-full {
	width: 100%;
}

/* 余白の設定 */
.layout-bottom-small {
	margin-bottom: 40px !important;
}

.layout-bottom-middle {
	margin-bottom: 80px !important;
}

.layout-bottom-xmiddle {
	margin-bottom: 100px !important;
}

.layout-bottom-xxmiddle {
	margin-bottom: 115px !important;
}

.layout-bottom-large {
	margin-bottom: 130px !important;
}

.section-title-top {
	margin-top: 100px !important;
}

/* 画像のサイズ */
.img-full {
	width: 100%;
}

/* ヘッダーの設定 */
.header{
	background-color:var(--baseColor);
	width:100%;
	height: 80px;
	z-index: 3;
	position: fixed;
}

.header-content{
	max-width: 1040px;
	height: 100%;
	align-items: center;
	margin: 0 auto;
	vertical-align: middle;
	
}

.header-category{
	margin-top: 3%;
	justify-content: space-around;
	display: flex;
	list-style: none;
	
}
a{
	color: var(--mainColor);
	text-decoration: none;

}

.content-wrapper {
	max-width: 1040px;
	margin: 0 auto;
	overflow: hidden;
}

.section {
	width: 100%;
	background-color: var(--baseColor);
	margin: 0;
}

.section-inAichi{
	position: relative;
	background-color: #fff;
	/* header分の余白 */
	padding-top: 80px;
}

.posi-rela {
	position: relative;
}

.pozi-abso{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left:0%;
}

.title-mar{
	padding-top:18% ;
}

.sentence-mar{
	padding-top: 7%;
}

/* 文字の横の線 */
.title-border {
	display: flex;
	align-items: center;
	}
	.title-border:before,
	.title-border:after {
	border-top: 1px solid;
	content: "";
	flex-grow: 1;
	}
	.title-border:before {
	margin-right: 1rem;
	}
	.title-border:after {
	margin-left: 1rem;
	}

	.dli-arrow-down {
		display: inline-block;
		vertical-align: middle;
		color: #333;
		line-height: 1;
		position: relative;
		width: 0.1em;
		height: 1em;
		background: currentColor;
	}
	
	.dli-arrow-down::before {
		content: '';
		width: 0.65em;
		height: 0.65em;
		border: 0.1em solid currentColor;
		border-left: 0;
		border-bottom: 0;
		box-sizing: border-box;
		transform: rotate(135deg);
		position: absolute;
		left: -0.275em;
		bottom: 0;
		margin: auto;
	}
	

	